body {
  background-color: black;
  font-family:Arial, Helvetica, sans-serif;
}
.main {
  
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
}


.card {
  margin-top: 25px;
  text-align: center;
  width: 300px;
  height: 300px;
  flex-wrap: wrap;
  border-color: rgb(66, 66, 66);
  border-width: 3px;
  border-width: 1px;
  
}

.card-header {
  background-color:   rgb(4, 110, 102);
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-body {
  padding: 0;
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  padding-top: 30px;
}

.input {
  border-radius: 6px;
  border: none;
}
.btn {
  width: 150px;
  margin-top: 15px;
  background-color: rgb(4, 110, 102);
}